@import "../../../js/lib/bootstrap-3.0/less/variables.less";
@import "../../../js/lib/bootstrap-3.0/less/mixins.less";
@import "../../../js/lib/bootstrap-3.0/less/manggis/mixins.less";

.login-container {
	padding: 20px;
	.transition(margin-top 0.4s);
	.panel .panel-heading {
		background-image: url(../../../js/lib/bootstrap-3.0/img/manggis.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		padding: 12px 15px;
	}
	.alerts-container {
		position: static;
		width: 100%;
	}
	&.off {
		margin-top: -500px;
	}
}

@media (min-width: @screen-xs) {
	.login-container {
		width: 440px;
		margin: 60px auto;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-device-pixel-ratio: 2) {
	.login-container .panel .panel-heading {
		background-image: url(../../../js/lib/bootstrap-3.0/img/manggis-2x.png);
		background-size: auto 26px;
	}
}