<div id="design-alert" class="container" style="position:fixed;width:100%;z-index:1037;"></div>

<div id="design-tool" class="off-screen off-left">
	<div class="pull-right" id="design-tool-min">
		<input style="width:177px;margin:5px;display:none;" id="tpl-backgroundColor" type="text" maxlength="7" value="#ffffff">
		<button class="btn" type="button" style="margin: 5px;" data-rfl-click="setTpl" id="showBackgroundColor"><i class="icon-tint"></i> Template Background</button> 
		<button class="btn" type="button" style="margin: 5px;" data-rfl-click="preview" id="preview"><i class="icon-eye-open"></i> Quick Preview</button> 
		<button class="btn" type="button" style="margin: 5px;" data-rfl-click="send-sample" id="send-sample"><i class="icon-share-alt"></i> Send a Sample</button> 
	</div>
	<div id="design-tool-max" class="well">
		<ul class="nav nav-list">
			<li class="nav-header">Template Background</li>
			<li>
				<input style="width:177px;" id="tpl-backgroundColor2" type="text" maxlength="7">
			<li>
			<li class="nav-header">Action</li>
			<li>
				<a href="javascript:void(0);" data-rfl-click="preview" onclick="return;"><i class="icon-eye-open"></i> Quick Preview</a>
			</li>
			<li>
				<a href="javascript:void(0);" data-rfl-click="send-sample" onclick="return;"><i class="icon-share-alt"></i> Send a Sample</a>
			</li>
			<li class="nav-header">Tips</li>
			<li>
				<a href="javascript:void(0);" onclick="return;">What can I do ?</a>
			</li>
			<li>
				<a href="javascript:void(0);" onclick="return;">How to create a beatiful Template ?</a>
			</li>
			<li>
				<a href="javascript:void(0);" onclick="return;">Top Ten popular Templates !</a>
			</li>
		</ul>
	</div>
</div>

<div style="height:50px;"></div>

<div class="container" id="container" style="width:800px;min-height:500px;">
	<iframe id="containFrame" name="containFrame" frameBorder="0" scrolling="no" width="100%" src="about:blank"></iframe>
</div>

<div style="height:100px;"></div>

<div id="width-tip" class="hidden">
	600px wide × any height
</div>
<div id="mask" class="hidden">
	<div style="display:inline;position:relative;margin-left:15px;">
		<a href="javascript:void(0);" class="menuA" title="up" data-rfl-click="up">
			<i class="icon-arrow-up"></i>
		</a>
	</div>
	<a href="javascript:void(0);" class="menuA" title="edit" data-rfl-click="edit">
		<i class="icon-edit"></i>
	</a>
	<a href="javascript:void(0);" class="menuA" title="remove" data-rfl-click="remove">
		<i class="icon-remove"></i>
	</a>
</div>
<div id="mask-bottom" class="hidden">
	<div class="pull-right" style="display:inline;margin-right:15px;">
		<a class="menuA" href="javascript:void(0)" title="add" data-rfl-click="add">
		  <i class="icon-plus"></i>
		</a>
		<a href="javascript:void(0);" class="menuA"  data-rfl-click="copy" title="copy">
			<i class="icon-copy"></i>
		</a>
		<a href="javascript:void(0);" data-rfl-click="down" class="menuA" title="down">
			<i class="icon-arrow-down"></i>
		</a>
	</div>
</div>
<div id="mask-left" class="hidden">
	<div id="mask-left-fix">
		<a href="javascript:void(0);" data-rfl-click="left" class="menuA" title="left">
			<i class="icon-arrow-left"></i>
		</a>
	</div>
</div>
<div id="mask-right" class="hidden">
	<div id="mask-right-fix">
		<a href="javascript:void(0);" data-rfl-click="right" class="menuA" title="right">
			<i class="icon-arrow-right"></i>
		</a><br><br>
		<a href="javascript:void(0);" data-rfl-click="copyCol" class="menuA" title="copy">
			<i class="icon-copy"></i>
		</a>
	</div>
</div>