<%
var rfl = require('rfl');
var currentGroup = rfl.auth.getData('currentGroup');
var langResourceCommon = require('lang/{{G.LANG}}/common');
var langResourceUser = require('lang/{{G.LANG}}/user');
%>

<h1><%=langResourceUser.label.manageUsers%></h1>
<div class="row section">
	<div class="col-md-4 col-sm-6">
		<%if(currentGroup.superGroup) {%>
			<select id="search-group" class="form-control responsive" tabindex="1" value="<%=groupId%>" onchange="G.pageRequire('../../js/mod/user/controllers/user-list').changeGroup(this.value);">
				<option value="">All Groups</option>
				<%for(var i = 0; i < groups.length; i++) {
					var group = groups[i];%>
					<option value="<%=group.id%>" <%=group.id == groupId ? 'selected="selected"' : ''%>><%=group.name%></option>
				<%}%>
			</select> 
		<%}%>
	</div>
	<div class="col-md-8 col-sm-6 text-right">
		<%if(rfl.auth.hasPerm('PERM_USER_ADMIN')) {%>
			<a href="html/user/edit-<%=G.LANG%>.html" class="btn btn-primary responsive"><%=langResourceCommon.label.create%></a>
		<%}%>
	</div>
</div>
<table class="section table table-striped table-bordered table-responsive <%=G.IS_PC ? 'table-hover' : ''%>">
	<thead>
		<tr class="align-center">
			<th width="300"><a class="text-gray" href="<%=G.resolveUrl('#!/' + [page, 'email', (sortKey == 'email' && sortOrder == 'asc' || sortKey && sortKey != 'email' ? 'desc' : 'asc'), groupId, searchText].join('/'))%>">
				<%=langResourceCommon.label.email%> 
				<%=!sortKey || sortKey == 'email' ? (sortOrder == 'asc' ? '<span class="sort-arrow-up"></span>' : '<span class="sort-arrow-down"></span>') : ''%>
			</a></th>
			<th><a class="text-gray" href="<%=G.resolveUrl('#!/' + [page, 'firstName', (sortKey == 'firstName' && sortOrder == 'desc' ? 'asc' : 'desc'), groupId, searchText].join('/'))%>">
				<%=langResourceUser.label.firstName%> 
				<%=sortKey == 'firstName' ? (sortOrder == 'asc' ? '<span class="sort-arrow-up"></span>' : '<span class="sort-arrow-down"></span>') : ''%>
			</a></th>
			<th><a class="text-gray" href="<%=G.resolveUrl('#!/' + [page, 'lastName', (sortKey == 'lastName' && sortOrder == 'desc' ? 'asc' : 'desc'), groupId, searchText].join('/'))%>">
				<%=langResourceUser.label.lastName%> 
				<%=sortKey == 'lastName' ? (sortOrder == 'asc' ? '<span class="sort-arrow-up"></span>' : '<span class="sort-arrow-down"></span>') : ''%>
			</a></th>
			<%if(!currentGroup.superGroup) {%>
				<th width="160"><%=langResourceUser.label.role%></th>
			<%}%>
			<th width="100"><a class="text-gray" href="<%=G.resolveUrl('#!/' + [page, 'enabled', (sortKey == 'enabled' && sortOrder == 'desc' ? 'asc' : 'desc'), groupId, searchText].join('/'))%>">
				<%=langResourceCommon.label.active%> 
				<%=sortKey == 'enabled' ? (sortOrder == 'asc' ? '<span class="sort-arrow-up"></span>' : '<span class="sort-arrow-down"></span>') : ''%>
			</a></th>
			<th width="100"><%=langResourceCommon.label.operation%></th>
		</tr>
	</thead>
	<tbody>
	<%for(var i = 0; i < users.length; i++) {
		var item = users[i];%>
		<tr data-id="<%=item.id%>">
			<%if(currentGroup.superGroup) {%>
				<td data-th="<%=langResourceCommon.label.email%> : " data-rfl-mouseover="showGroupAndRole <%=i%>" data-rfl-mouseout="hideGroupAndRole <%=i%>"><%==item.email%></td>
			<%} else {%>
				<td data-th="<%=langResourceCommon.label.email%> : "><%==item.email%></td>
			<%}%>
			<td data-th="<%=langResourceUser.label.firstName%> : "><%==item.firstName%></td>
			<td data-th="<%=langResourceUser.label.lastName%> : "><%==item.lastName%></td>
			<%
			var roleNames = '';
			if(!currentGroup.superGroup) {
				var userGroups = item.groups[0];
				var roles = userGroups && userGroups.roles || [];
				for(var n = 0; n < roles.length; n++) {
					roleNames += roles[n].name + '; '
				}%>
				<td data-th="<%=langResourceUser.label.role%> : " title="<%==roleNames%>" data-toggle="tooltip" data-container="body">
					<%==rfl.util.headByByte(roleNames, 22, '...')%>
				</td>
			<%}%>
			<td><div class="text-center"><%=item.enabled ? '<span class="icon-eye-open" title="' + langResourceCommon.label.active + '" data-toggle="tooltip"></span>' : '<span class="icon-eye-close text-gray-light" title="' + langResourceCommon.label.inactive + '" data-toggle="tooltip"></span>'%></div></td>
			<td>
				<div class="text-center">
					<%if(!item.superUser && item.id != currentUserId && rfl.auth.hasPerm('PERM_USER_ADMIN')) {%>
						<a href="html/user/edit-<%=G.LANG%>.html#!/<%=item.id%>" title="<%=langResourceCommon.label.edit%>" data-toggle="tooltip">&nbsp;<i class="icon-pencil"></i>&nbsp;</a>&nbsp;
						<a href="javascript:void(0);" onclick="return false;" title="<%=langResourceCommon.label.del%>" data-toggle="tooltip" data-del-btn>&nbsp;<i class="icon-trash"></i>&nbsp;</a>&nbsp;
						<a href="javascript:void(0);" onclick="return false;" title="<%=langResourceCommon.label.activate%> / <%=langResourceCommon.label.deactivate%>" data-toggle="tooltip" data-toggle-btn>&nbsp;<i class="icon-retweet"></i>&nbsp;</a>
					<%}%>
				</div>
			</td>
		</tr>
	<%}%>
	<%if(!users.length) {%>
		<tr><td colspan="7"><div class="text-center"><%=langResourceCommon.msg.noResult%></div></td></tr>
	<%}%>
	</tbody>
</table>
<div class="row">
	<div class="col-md-12 pagination-right">
		<!-- include "../../../../html/inc/ajax-history-pager.tpl.html" -->
	</div>
</div>
