<div id="new-remark-form">
	<div class="form-group">
		<label for="domains">Domains %{{mandatory}}%</label>
		<div class="place-holder-wrapper">
			<div class="place-holder-text">
				You can input domain like: <br/>
				radicasys.com; vip.radicasys.com
			</div>
			<input id="domains" class="form-control auto-complete-arrow-down" name="domains" maxlength="80" type="text" value=""/> 
			<span class="help-block help-error"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="remark">Suffix %{{mandatory}}%</label>
		<input type="text" id="remark" class="form-control" data-rfl-keyup="submit" data-validator="mandatory" name="remark" value="<%=data.remark || ''%>">
		<span class="help-block help-error"></span>
	</div>
	<div class="alert-container"></div>
</div>