<%
var langResourceCustomer = require('lang/{{G.LANG}}/customer');
%>

<%if(property.items && property.items.length) {%>
	<div class="form-group">
		<label for="edit-property-set-value-0"><%=langResourceCustomer.label.editValues%></label>
		<div id="existing-property-set-div">
			<%for(var i = 0; i < property.items.length; i++) {%>
				<div class="form-group form-inline">
					<input id="edit-property-set-value-<%=i%>" class="form-control" maxlength="80" type="text" value="<%==property.items[i].value%>" data-id="<%=property.items[i].id%>" data-validator="mandatory name" data-rfl-keyup="keyupSubmit" style="width: 300px;" /> 
					<a href="javascript:void(0);" class="text-gray" data-index="<%=i%>" data-del-set-btn><i class="icon-remove"></i></a> 
					<span class="help-inline help-error"></span>
				</div>
			<%}%>
		</div>
	</div>
<%}%>