<%
var rfl = require('rfl');
var langResourceCommon = require('lang/{{G.LANG}}/common');
var langResourceCustomer = require('lang/{{G.LANG}}/customer');
var langResourcePropertyTypes = require('lang/{{G.LANG}}/property-types');
%>

<h1><%=isEdit ? langResourceCustomer.label.editProperty : langResourceCustomer.label.createProperty%></h1>
<form id="edit-property-form">
	<button type="submit" class="ajax-form-submit-helper"></button>
	<div class="form-group">
		<label for="edit-property-name"><%=langResourceCommon.label.name%> %{{mandatory}}%</label>
		<input id="edit-property-name" class="form-control" name="name" maxlength="80" data-validator="mandatory name" type="text" value="<%==property.name || ''%>" /> 
		<span class="help-block help-error"></span>
	</div>
	<%if(isEdit) {%>
		<div class="form-group">
			<label for="edit-property-tag"><%=langResourceCustomer.label.mergeTag%> %{{mandatory}}%</label>
			<div class="form-inline">
				<span class="desc">You may put</span> ${ <input id="edit-property-tag" class="form-control span3" name="tag" maxlength="80" data-validator="mandatory wordUpperCase" type="text" value="<%==property.tag || ''%>" <%=property.basic ? 'disabled' : ''%> style="width: 150px;" /> } <span class="desc">in your campaign content to merge this property.</span> 
				<span class="help-block help-error"></span>
			</div>
		</div>
	<%} else {%>
		<input type="hidden" name="tag" value="NEW" />
	<%}%>
	<div class="form-group">
		<label for="edit-property-dataType"><%=langResourceCustomer.label.dataType%></label>
		<%if(isEdit) {%>
			<select id="edit-property-dataType" class="form-control" name="propertyType" value="<%=property.propertyType%>" disabled>
				<option value="<%=property.propertyType%>"><%=langResourcePropertyTypes.names[property.propertyType]%></option>
			</select> 
		<%} else {%>
			<select id="edit-property-dataType" class="form-control" name="propertyType" onchange="G.pageRequire('../../js/mod/customer/controllers/property-edit').changeDataType(this.value);" <%=isEdit ? 'disabled' : ''%>>
				<%for(var p in langResourcePropertyTypes.names) {
					if(!rfl.config.BASIC_PROPERTY_TYPE[p]) {%>
					
						<option value="<%=p%>"><%=langResourcePropertyTypes.names[p]%></option>
					<%}
				}%>
			</select> 
		<%}%>
		<span class="help-inline"></span>
	</div>
	<div id="edit-set-form" class="display-none">
		<div id="existing-property-set-div">
			<!-- include "./property-edit-set.tpl.html" -->
		</div>
		<div class="form-group">
			<label for="edit-property-set">
				<%=langResourceCustomer.label.addValues%> 
				<%if(!isEdit) {%>
					%{{mandatory}}%
				<%}%>
			</label>
			<div class="place-holder-wrapper">
				<div class="place-holder-text">
					This is a value<br />
					This is another value<br />
					One value per line, and this is the third value
				</div>
				<textarea id="edit-property-set" name="items" class="place-holder-input form-control" rows="10" class="input-xxlarge" data-validator="set" data-rfl-keyup="keyupSubmit"></textarea><span class="help-block help-error"></span>
			</div>
		</div>
	</div>
</form>

<div class="section-divider"></div>
<div>
	<button onclick="return false;" class="btn btn-primary responsive" data-save-btn><%=isEdit ? langResourceCommon.label.update : langResourceCommon.label.save%></button> 
	<button onclick="return false;" class="btn btn-default responsive" data-cancel-btn><%=langResourceCommon.label.cancel%></button> 
</div>