<%
var rfl = require('rfl');
var langResourceCommon = require('lang/{{G.LANG}}/common');
var langResourceCustomer = require('lang/{{G.LANG}}/customer');
var langResourcePropertyTypes = require('lang/{{G.LANG}}/property-types');
%>

<h1><%=langResourceCustomer.label.manageProperties%></h1>
<div class="row section">
	<div class="col-md-12 text-right">
		<%if(rfl.auth.hasPerm('PERM_USER_ADMIN')) {%>
			<a id="btn-create" href="html/customer/property-edit-<%=G.LANG%>.html#!/<%=listId%>" class="btn btn-primary responsive"><%=langResourceCommon.label.create%></a> 
		<%}%>
	</div>
</div>
<table class="table table-striped table-bordered table-responsive <%=G.IS_PC ? 'table-hover' : ''%>">
	<thead>
		<tr>
			<th><%=langResourceCommon.label.name%></th>
			<th width="200"><%=langResourceCustomer.label.mergeTag%></th>
			<th width="120"><%=langResourceCustomer.label.dataType%></th>
			<th width="80"><%=langResourceCommon.label.operation%></th>
		</tr>
	</thead>
	<tbody>
	<%for(var i = 0; i < propertys.length; i++) {
		var item = propertys[i];%>
		<tr data-id="<%=item.id%>">
			<td data-th="<%=langResourceCommon.label.name%> : "><%==item.name%></td>
			<td data-th="<%=langResourceCustomer.label.mergeTag%> : ">${<%=item.tag%>}</td>
			<td data-th="<%=langResourceCustomer.label.dataType%> : "><%=langResourcePropertyTypes.names[item.propertyType]%></td>
			<td>
				<div class="text-center">
					<%if(rfl.auth.hasPerm('PERM_USER_ADMIN')) {%>
						<a href="html/customer/property-edit-<%=G.LANG%>.html#!/<%=listId%>/<%=item.id%>" title="<%=langResourceCommon.label.edit%>" data-toggle="tooltip">&nbsp;<i class="icon-pencil"></i>&nbsp;</a>
						<%if(!item.basic) {%>
							&nbsp;
							<a href="javascript:void(0);" onclick="return false;" title="<%=langResourceCommon.label.del%>" data-toggle="tooltip" data-del-btn>&nbsp;<i class="icon-trash"></i>&nbsp;</a> 
						<%}%>
					<%}%>
				</div>
			</td>
		</tr>
	<%}%>
	<%if(!propertys.length) {%>
		<tr><td colspan="7"><div class="text-center"><%=langResourceCommon.msg.noResult%></div></td></tr>
	<%}%>
	</tbody>
</table>
